link(rel="stylesheet" type="text/css" href="style.css")
//favicon
link(rel='shortcut icon' href='https://cdn.glitch.com/647b6261-54bb-4b16-bd19-cb88e23ae8e7%2Ffavicon.png?v=1570640791079')
//saves so much work on mobile
meta(name="viewport" content="initial-scale=1.0,width=device-width")