ink(rel="stylesheet" type="text/css" href="style.css")
//favicon
link(rel='shortcut icon' href='https://cdn.glitch.com/09b41b8e-5b1b-470e-8b60-eeaccaea49e9%2Ffavicon.png?v=1570807254913')
//saves so much work on mobile
meta(name="viewport" content="initial-scale=1.0,width=device-width")