script(src="https://cdn.glitch.com/09b41b8e-5b1b-470e-8b60-eeaccaea49e9%2Fthree.min.js?v=1570808087973")
script(src="https://cdn.glitch.com/09b41b8e-5b1b-470e-8b60-eeaccaea49e9%2Foimo.min.js?v=1570925331705")
script(src="https://threejs.org/examples/js/controls/PointerLockControls.js")
script(src="client.js" type="module") //type = "module means that we are using js modules in this file otherwise browsers won't take it"